{% extends 'base.html' %} {% block content %}

<!-- Jumbotron -->
<div class="jumbotron border-0 m-5 py-5 px-5 bg-white text-dark">
  <h1 class="text-left font-weight-bold mt-3 mb-5">About Us</h1>

  <p class="d-none d-sm-block font-bold font-italic lead text-center mt-3 mb-5">
    "To date, 52,834 wildfires have burned 9,539,554 acres, the second most
    acres burned in the past 10 years." -
    <a class="text-dark" href="https://www.nifc.gov/fireInfo/nfn.htm"
      >NIFC.gov</a
    >
  </p>
  <p>
    The Active Fire Map was created November 2020 to enable a more user-friendly
    experience while researching the current locations of potential fires. The
    site currently is in early-alpha, and any feedback would be greatly
    appreciated! Our features currently in development are as follows:
  </p>

  <ul>
    <li>
      Check for fires within radius of an address. (Ex: "There are 10 potential
      fires near you." )
    </li>
    <li>Support for loading of only specific Countries, or area.</li>
  </ul>
  <h1 class="text-center mt-5 mb-3">Looking for Volunteers!</h1>
  <p class="text-center">
    <button class="btn btn-primary">
      <a class="text-white" href="mailto: r.keys1998@gmail.com">Contact Us</a>
    </button>
  </p>
</div>

{% endblock %}
