{% extends 'base.html' %} {% block content %}

<!-- Jumbotron -->
<div class="jumbotron border-0 m-5 py-5 px-5 bg-white text-dark">
  <div class="container">
    <h1 class="text-left font-weight-bold">About Us</h1>
  </div>
  <p class="font-bold font-italic lead text-center p-5 m-5">
    "To date, 52,834 wildfires have burned 9,539,554 acres, the second most
    acres burned in the past 10 years." -
    <a class="text-dark" href="https://www.nifc.gov/fireInfo/nfn.htm"
      >NIFC.gov</a
    >
  </p>
  <p>
    The Active Fire Map was created during the 2020 California Wildfires to
    enable a more user-friendly experience while researching the current
    locations of potential fires.
  </p>
</div>

{% endblock %}
