<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<!-- Jumbotron Desktop -->
<div
  class="jumbotron d-none d-sm-block border-0 m-5 py-4 px-5 bg-white text-dark"
>
  <h1 class="text-center display-2">Active Fire Map <br />Wiki</h1>
  <p class="lead text-justify py-4 mx-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
    blanditiis, fugiat voluptas fugit sit praesentium assumenda fuga sapiente
    aperiam rerum quo necessitatibus debitis eaque dolorem, facere iusto nihil a
    autem ducimus in harum magni consequuntur accusantium! Velit soluta sequi
    quae?
  </p>
  <div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary mx-4">
      <a class="text-white" href="/getting_started">Getting Started</a>
    </button>
    <button type="button" class="btn btn-secondary mx-4">
      <a class="text-white" href="/documentation">Documentation</a>
    </button>
  </div>
</div>
<!-- END Jumbotron Desktop -->
<!-- Jumbotron Mobile -->
<div
  class="jumbotron d-block d-sm-none border-0 m-0 py-4 px-0 bg-white text-dark"
>
  <h1 class="text-center display-4 mx-0">Active Fire Map <br />Wiki</h1>
  <p class="lead text-justify py-4 mx-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias
    blanditiis, fugiat voluptas fugit sit praesentium assumenda fuga sapiente
    aperiam rerum quo necessitatibus debitis eaque dolorem, facere iusto nihil a
    autem ducimus in harum magni consequuntur accusantium! Velit soluta sequi
    quae?
  </p>
  <div class="button-container d-flex justify-content-center">
    <button type="button" class="btn btn-primary mx-4">
      <a class="text-white" href="/getting-started">Getting Started</a>
    </button>
    <button type="button" class="btn btn-secondary mx-4">
      <a class="text-white" href="/documentation">Documentation</a>
    </button>
  </div>
</div>
<!-- END Jumbotron Mobile -->
{% endblock %}
